limit_req_zone $binary_remote_addr zone=mylimit:10m rate=1r/m;

server {
    listen 80;

    # TLS config goes here (for production use)

    include conf.d/my_apis/*.conf;

    # Invalid resource
    {{ config_snippet }}

    location /api/f1/seasons {
        proxy_pass http://18.219.91.158:80;
        auth_jwt '';
        auth_jwt_key_file /etc/nginx/secrets/api_secret_jwt.jwk;
    }

    location /api/f1/circuits {
        proxy_pass http://18.219.91.158:80;
    }

    location /api/f1/constructors {
        proxy_pass http://18.219.91.158:80;
    }


    # Error responses
    proxy_intercept_errors on;     # Do not send backend errors to the client
    default_type application/json; # If no content-type then assume JSON
    error_page 404 = @400;         # Invalid paths are treated as bad requests
    location @400 {
        return 400 '{"status":400,"message":"Bad request"}\n';
    }


}
